/*
 * 笨蛋嫁给我吧.
 */
* { 
  margin:0; padding:0;
  margin-top:5px;
  font-family:"宋体";font-size:12px;line-height:16px;color:#28b4e2;text-decoration:none;
}
a:hover {text-decoration:underline}

#page {
  width:1080px;
  margin:0 auto;
}
#left {
  float:left;
  width:60%;
}
#right {
  float:left;
  width:30%;
}
#code pre {
  color:black;
}
