@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "宋体";
  color: #28b4e2;
}
a:hover {text-decoration:underline}
img {
  border: 1px solid #808A87;
  @include border-radius(5px);
}
img:hover {
  @include opacity(0.8);
}

#page {
  width:1080px;
  margin:25px auto;
}
#left {
  float:left;
  width:60%;
  text-align: right;
  padding-right: 100px;
}
#right {
  float:left;
  width:30%;
}
#code pre {
  color: #000;
}
.footer-img {
  width: 500px;
  margin-top: 17px;
}
